html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #343a40;
    margin: 0;
    cursor: default;
}

body.intro-filter > *:not(.intro) {
    filter: blur(5px);
    pointer-events: none;
    transition: all .2s ease-in-out;
}

.intro {
    z-index: 1;
    transform: translateY(-50px);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.intro h1 {
    font-family: 'Montserrat', sans-serif;
}

.intro.small {
    top: 0;
    left: 20px;
    width: 300px;
    height: 60px;
    transform: translateY(-2px);
    z-index: 1040;
}

.intro.small h1,
.intro.small .intro-text {
    display: none;
}

.intro.small .url {
    max-width: 100%;
}

.intro .url {
    max-width: 30%;
}

.intro-text span {
    font-size: 3rem;
    background-color: rgba(51, 94, 234, .1);
    width: 100px;
    height: 100px;
    padding: 30px;
    border-radius: 100%;
}

.url {
    height: auto;
}

.collapsed {
    display: none;
}

nav {
    border-bottom: 3px solid #335eea;
    border-top: 1px solid #E5E9EF;
    min-height: 60px;
    background-color: #ffffff;
    font-size: 12px;
}

nav .close-nav {
    font-size: 1rem;
    color: #ACB5BA;
    cursor: pointer;
}

nav .close-nav:hover {
    color: #335eea;
}

.nav-items .nav-btn {
    color: #ACB5BA;
    padding: .35rem 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    min-height: 56px;
}

.nav-items .nav-btn.btn-mobile span {
    font-size: 1.6rem;
}

.nav-items .nav-btn.active {
    color: #335eea;
    background-color: rgba(51, 94, 234, .1);
}

.iframe-preview {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
}

.iframe-preview.is-visible {
    width: 375px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.iframe-preview.nav-closed {
    height: 100%;
    margin-top: 0;
    transition: all .8s ease-out;
}


@-webkit-keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes slideOutUp {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: hidden
    }
}

@keyframes slideOutUp {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: hidden
    }
}

.slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}